.signup-container
  .signup-header
    .signup-header-content
      = image_tag "fmarket_logo_red.svg", class: "image", width: "193px"
  .signup-main
    .signup-main__login-panel
      .signup-main__login-no-account
        %p アカウントをお持ちでない方はこちら
        %a 新規会員登録
      .signup-main__login-form
        %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--facebook
          Facebookでログイン
        %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--google{ id: 'google-login' }
          Googleでログイン
      %form{ action: '/login/', method: 'POST', novalidate: 'novalidate' }
        .signup-main__login-form-inner
          .signup-main__form-group
            %input.signup-main__login-input-text.signup-main__input-default{ type: 'email', name: 'email', placeholder: 'メールアドレス' }
          .signup-main__form-group
            %input.signup-main__login-input-text.signup-main__input-default{ type: 'password', name: 'password', placeholder: 'パスワード' }
          %button.signup-main__login-submit.signup-main__btn-default.signup-main__btn-red{ type: 'submit' }
            ログイン
          .signup-main__form-group-password
            パスワードをお忘れの方
        .footer
          .nav
            .ul.clearfix
              .li プライバシーポリシー
              .li メルカリ利用規約
              .li 特定商取引に関する表記
          = image_tag "logo_red.svg", class: "image", width: "85px"
          .p
            .small Mercari
