%header.signup-header
  %h1
    = image_tag 'fmarket_logo_red.svg'
  %nav.signup-bar.progress-bar
    %ol.progress-bar
      %li.is-active1 
        会員情報
        .progress-status
        .progress-line{ id: "redline" }
      %li.is-active2
        電話番号認証
        .progress-status
        .progress-line{ id: "redline" }
      %li.is-active3
        お届け先住所入力
        .progress-status
        .progress-line{ id: "redline" }
      %li.is-active4
        支払い方法
        .progress-status
        .progress-line-last
      %li.is-active5
        完了
        .progress-status