.sell-list {
  height: 1000px;
  &__head {
    padding: 0 16px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
  }
  &__contents {
    height: 100%;
    padding: 0 16px;
    &__content {
      .sell-item {
        height: 100px;
      }
    } 
  }
}

a:-webkit-any-link {
  color: black;
}