.mercari-icon-wrapper
  .mercari-header
    %h1.mercari-header-logo
      = image_tag "fmarket_logo_red.svg" 
    %nav.progress-item
    %ol.clearfix
      %li.progress-item__member
        会員情報
        .progress-item_active_name
      %li.progress-item_phone-number
        電話番号認証
        .progress-item_active_phone-number
      %li.progress-item-address
        お届け先住所入力
      %li.progress-item-payment
        支払い先入力
        .progress-item-payment
      %li.progress-item-complete
        完了
　　　　　.progress-item-complete    

    