.sell-header{
  text-align: center;
  h1 {
    display: inline-block;
    padding: 10px 0px 0px 60px;
  }
  a {
    display: inline-block;
    width: 120px;
    height: 33px;
    margin-right: 8px;
    line-height: 33px;
  }
  img {
    width: 185px;
    height: 49px;
  }
}