.signup-footer{
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
  ul{
    font-size: 0;
  }
  li{
    margin: 16px 0 0;
    font-size: 12px;
    display: inline-block;
    margin-left: 16px;
    &:first-child {
      margin: 0;
    }
  }
  a{
    display: block;
    color: #333;
  }
  &__logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }
  p{
    margin: 8px 0 0;
  }
  small{
    font-size: 13px;
  }
}