.toppage-footer-top
  = image_tag "cropKM18923003.jpg", class: "toppage-footer-top__box", width: "100%", height: "400px"
.toppage-footer-bottom
  .toppage-footer-bottom__summary
    %h2.toppage-footer-bottom__navtitle メルカリについて
    %ul.toppage-footer-bottom__navlist
      %li.toppage-footer-bottom__nav
        会社概要（運営会社）
      %li.toppage-footer-bottom__nav
        採用情報
      %li.toppage-footer-bottom__nav
        プレスリリース
      %li.toppage-footer-bottom__nav
        公式ブログ
      %li.toppage-footer-bottom__nav
        メルカリロゴ利用ガイドライン
      %li.toppage-footer-bottom__nav
      =link_to "#", class: "toppage-footer-bottom__nav_tw" do
        = icon('fab', 'twitter', class: "contents__btn--icon")
      =link_to "#", class: "toppage-footer-bottom__nav_fb" do
        = icon('fab', 'facebook-square',  class: "contents__btn--icon")
      %li.toppage-footer-bottom__nav
      =link_to "#", class: "toppage-footer-bottom__nav_mercari" do
        mercari
  .toppage-footer-bottom__guide
    %h2.toppage-footer-bottom__navtitle ヘルプ&ガイド
    %ul.toppage-footer-bottom__navlist
      %li.toppage-footer-bottom__nav
        メルカリガイド
      %li.toppage-footer-bottom__nav
        らくらくメルカリ便
      %li.toppage-footer-bottom__nav
        ゆうゆうメルカリ便
      %li.toppage-footer-bottom__nav
        大型メルカリ便
      %li.toppage-footer-bottom__nav
        車体取引ガイド
      %li.toppage-footer-bottom__nav
        メルカリあんしん・あんぜん宣言！
      %li.toppage-footer-bottom__nav
        偽ブランド品撲滅への取り組み    
      %li.toppage-footer-bottom__nav
        メルカリボックス  
  .toppage-footer-bottom__privacy
    %h2.toppage-footer-bottom__navtitle プライバシーと利用規約      
    .toppage-footer-bottom__termsleft
      %ul.toppage-footer-bottom__navlist
        %li.toppage-footer-bottom__nav
          プライバシーポリシー
        %li.toppage-footer-bottom__nav
          メルカリ利用規約
        %li.toppage-footer-bottom__nav
          あんしんスマホサポート制度に関する利用規約  
        %li.toppage-footer-bottom__nav
          コンプライアンスポリシー
    .toppage-footer-bottom__termsright
      %ul.toppage-footer-bottom__navlist
        %li.toppage-footer-bottom__nav
          個人データの安全管理に関する基本方針    
        %li.toppage-footer-bottom__nav
          特定商取引に関する表記
        %li.toppage-footer-bottom__nav
          資金決済法に基づく表記    
        %li.toppage-footer-bottom__nav
          法令厳守と犯罪抑止のために
  .toppage-footer-bottom__country
    %h2.toppage-footer-bottom__navtitle 国
    .toppage-footer-bottom__termsleft
      %ul.toppage-footer-bottom__navlist
        %li.toppage-footer-bottom__nav
          日本
        %li.toppage-footer-bottom__nav
          UnitedStates
  .toppage-footer-bottom__license
    © Mercari,inc.
  
.Exhibition
  .Exhibition_name
    出品
  =link_to "#", class: "Exhibition-btn" do
    = icon('fas', 'camera', class: "Exhibition-icon")