.toppage-footer-top
  .toppage-footer-top__box
    .toppage-footer-bottom
      .toppage-footer-bottom__summary
      .toppage-footer-bottom__guide
      .toppage-footer-bottom__privacy
        .toppage-footer-bottom__termsleft
          %ul.toppage-footer-bottom__navlist
            %li.toppage-footer-bottom__navS
        .toppage-footer-bottom__termsright
        .toppage-footer-bottom__country
      .toppage-footer-bottom__license