.registration-wrapper
  .registration_img
    = image_tag "fmarket_logo_red.svg" 
  %nav.registration_progress_bar
    %li.registration_progress_bar_step
      会員情報
      .registration_progress_bar_step_item
    %li.registration_progress_bar_step_phone_number
      電話番号認証
      .registration_progress_bar_step_item_address
    %li.registration_progress_bar_step_payment
      完了
      .registration_progress_bar_step_item_complete
