.toppage-header-wrapper
  .toppage-header-top
    .toppage-header-top__header
      .toppage-header-top__header-contents
        .toppage-header-top__header-search
          = image_tag "fmarket_logo_red.svg", class: "image", width: "150px"
      = form_tag(search_path, method: :'get', class: "toppage-header-top__header-search-form") do
        = text_field_tag "search", "", {class: "toppage-header-top__header-search-form", id: "toppage-search", placeholder: "何かお探しですか？"}
        = button_tag '<i class="fas fa-search"></i>'.html_safe, :type => "submit", :class =>"toppage-header-top__header-btn"
  .toppage-header-top__footer
    .toppage-header-top__footer-search
      .toppage-header-top__footer-search-categories
      =link_to "#", class: "toppage-header-top__footer-search-wrapper" do
        カテゴリーから探す
      =link_to "#", class: "toppage-header-top__footer-search-brand" do
        ブランドから探す
    .toppage-header-top__footer-search-btn
      .toppage-header-top__footer-search-btn-wrapper 
        - if user_signed_in?
          .toppage-header-top__footer-search-categories_mypage
          =link_to "#", class: "toppage-header-top__footer-search-iine" do
            いいね！一覧
          =link_to "#", class: "toppage-header-top__footer-search-Notice" do
            お知らせ
          =link_to "#", class: "toppage-header-top__footer-search-list" do
            やることリスト
          =link_to users_path, class: "toppage-header-top__footer-search-mepage" do
            マイページ 
        - else
          =link_to signin_path, class: "toppage-header-top__footer-search-btn-new" do
            新規会員登録
          =link_to new_user_session_path, class: "toppage-header-top__footer-search-btn-login" do
            ログイン
 
