%header.signup-header
  %h1
    = image_tag 'fmarket_logo_red.svg'
  %nav.signup-bar.progress-bar
    %ol.progress-bar
      %li.is-active 
        会員情報
        .progress-status
        .progress-line
      %li 
        電話番号認証
        .progress-status
        .progress-line
      %li 
        お届け先住所入力
        .progress-status
        .progress-line
      %li 
        支払い方法
        .progress-status
        .progress-line-last
      %li 
        完了
        .progress-status