.toppage-main
  .toppage-main__category-top
    人気のカテゴリー
    %ul.toppage-main__list
      %li.toppage-main__menu
        =link_to "#", class: "toppage-main__logo" do
          レディース
        =link_to "#", class: "toppage-main__logo" do
          メンズ
        =link_to "#", class: "toppage-main__logo" do
          家電・スマホ・カメラ新着アイテム
        =link_to "#", class: "toppage-main__logo" do
          おもちゃ・ホビー・グッズ新着アイテム
.toppage-main__category-bottom
  .toppage-main__category-name
    .toppage-main__text
      レディース新着アイテム
    .toppage-main__box
      .toppage-main__smallbox
  .toppage-main__category-name
    .toppage-main__text 
      メンズ新着アイテム
    .toppage-main__box
  .toppage-main__category-name
    .toppage-main__text 
      家電・スマホ・カメラ新着アイテム
    .toppage-main__box
  .toppage-main__category-name
    .toppage-main__text
      おもちゃ・ホビー・グッズ新着アイテム
    .toppage-main__box
  