.main-list
  .main__list__logo1 人気のカテゴリー
  .main__list__logo2 レディース
  .main__list__logo2 メンズ
  .main__list__logo2 家電・スマホ・カメラ
  .main__list__logo2 おもちゃ・ホビー・グッズ
.main-list__category-bottom
  .main-list__category-name
    .main-list__text レディース新着アイテム
    .main-list__item
      .main-list__contents
        .main-list__content
  .main-list__category-name
    .main-list__text メンズ新着アイテム
  .main-list__category-name  
    .main-list__text 家電・スマホ・カメラ新着アイテム
  .main-list__category-name
    .main-list__text おもちゃ・ホビー・グッズ新着アイテム
  