= render 'header'
.details
  .details_name
  .details_content_photo
  .details_content_info
    .details_content_info_user
    .details_content_info_category
    .details_content_info_brand
    .details_content_info_zyotai
    .details_content_info_hutan
    .details_content_info_houhou
    .details_content_info_area
    .details_content_info_meyasu
  .details_price
  .details_price_tax
  .details_btn
  .details_profir
  .details_comment
= render 'footer'