= render 'header'
.details_body
  .details
    .details_name 地球儀
    .details_content
    .details_content_photo
    = image_tag "cropchikyuGFVS3960.jpg", class: "image", width: "100px", height: "400px"
    .details_content_info
      .details_content_info_user
      .details_content_info_category
      .details_content_info_brand
      .details_content_info_status
      .details_content_info_burden
      .details_content_info_method
      .details_content_info_area
      .details_content_info_indication
    .details_price
    .details_price_tax
    .details_btn
    .details_profile
    .details_comment
= render 'footer'