.doneview-header
  .login_logo
  -# = image_tag "fmarket_logo_red.svg", class: "image", width: "200px" 
.doneview-main
  .doneview-main__container
    .doneview-main__head
      会員登録完了
    .doneview-main__inner
      %p
        ありがとうございます。
        %br
        会員登録が完了しました。
    .doneview-btn      
      .doneview-btn__red
        メルカリをはじめる
.doneview-footer
  .nav
    .ul.clearfix
    .li プライバシーポリシー 
    .li メルカリ利用規約 
    .li 特定商取引に関する表記 
  %br
  .small Mercari 

  -# .signup-main__banner-pc
  -#   -# = image_tag 'banner-pc.jpg'
  -# .signup-main__banner-sp
  -#   -# = image_tag 'banner-sp.jpg'
