.header
  = render "header"

.mypage-contents
  .mypage-contents__side-bar
    %nav.side-bar-nav
      %ul.side-bar__list
        %li マイページ
        %li お知らせ
        %li やることリスト
        %li いいね!一覧
        %li 出品する
        %li 出品した商品-出品中
        %li 出品した商品-取引中
        %li 出品した商品-売却済み
        %li 購入した商品-取引中
        %li 購入した商品-過去の取引
        %li ニュース一覧
        %li 評価一覧
        %li ガイド
        %li お問い合わせ
      %h3.side-bar-head
        メルペイ
      %ul.side-bar__list
        %li 売り上げ、振込申請
        %li ポイント
      %h3.side-bar-head
        設定
      %ul.side-bar__list
        %li プロフィール
        %li 発送元、、お届け先住所変更
        %li 支払い方法
        %li メール/パスワード
        %li 本人情報
        %li 電話番号の確認
        %li ログアウト

  .mypage-contents__main
    ahh
.photo__bottom よーわからん画像入れる所２

.footer
  = render "footer"