.header
  = render "header"

.toppage-slider 
  -# .toppage-slider__contents-large-text
  -#   スマホでかんたん
  -#   %br 
  -#   フリマアプリ
  -# .toppage-slider__contents-small-text
  -#   メルカリはスマホアプリからすぐに出品できる
  -#   %br
  -#   購入時も安心な独自システムのアプリです

.main
  = render "main"
.footer
  = render "footer"