.mypage-main-container
  = render 'mypage/header'
%main.mypage-container.clearfix
  = render 'mypage/side-bar'
  .logout_content
    .logout_content_btn
      =link_to "#", class: "logout_content_btn" do
        ログアウト
= render 'items/footer'