.new-container
  .sell-main
    %section.sell-single-container.buy-item-container
      #sell-container
        %div.sell-container-inner
          %h2.sell-main__head
            .sell-main__upload-box
              .sell-main__upload-head
              %p 最大10枚までアップロードできます
            .sell-main__content.clearfix
            .sell-main__content.clearfix
            .sell-main__content.clearfix
            .sell-main__content.sell-main__btn-box