.signup-container
  = render 'header-registration'
  %main.signup-main
    %section.signup-main__container
      %h2.signup-main__head.signup-main__head--registration
        会員情報入力
      .signup-main__content
        .signup-main__form-group
          %label ニックネーム
          %span.signup-main__form-require 必須
          %input.signup-main__input-default{:name => "nickname", :placeholder => "例)メルカリ太郎", :type => "text", :value => ""}/
        .signup-main__form-group
          %label メールアドレス
          %span.signup-main__form-require 必須
          %input.signup-main__input-default{:name => "mailadress", :placeholder => "例)pc・携帯どちらでも可", :type => "text", :value => ""}/
        .signup-main__form-group
          %label パスワード
          %span.signup-main__form-require 必須
          %input.signup-main__input-default{:name => "password", :placeholder => "例)6文字以上", :type => "text", :value => ""}/
        .signup-main__form-group
          %label パスワード(確認)
          %span.signup-main__form-require 必須
          %input.signup-main__input-default{:name => "password", :placeholder => "例)6文字以上", :type => "text", :value => ""}/
        -# %p.form-info-text ※ 英字と数字の両方を含めて設定してください
        -# %input{:type => "checkbox", :name => "password", :value => ""}パスワードを表示する
      -# .signup-main__form-group
      -#   %h3.text-left 本人確認
      -#   %p.signup-text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      -# .signup-main__form-group
      -#   %label お名前(全角)
      -#   %span.signup-main__form-require 必須
      -#   %input.signup-main__input-default.signup-main__input-default--half{:type => "text", :name => "family_name_kanji", :placeholder => "例)山田"}
      -#   %input.signup-main__input-default.signup-main__input-default--half{:type => "text", :name => "first_name_kanji", :placeholder => "例)彩"}
      -# .signup-main__form-group
      -#   %label お名前カナ(全角)
      -#   %span.signup-main__form-require 必須
      -#   %input.signup-main__input-default.signup-main__input-default--half{:type => "text", :name => "family_name_kanji", :placeholder => "例)ヤマダ"}
      -#   %input.signup-main__input-default.signup-main__input-default--half{:type => "text", :name => "first_name_kanji", :placeholder => "例)アヤ"}
      -# .signup-main__form-group
      -#   %label 生年月日
      -#   %span.signup-main__form-require 必須
      -#   .signup-main__birthday-select-wrap
      -#     .signup-main__select-wrap
      -#       %span 年
      -#       %select.signup-main__select-default.signup-main__has-error
      -#     .signup-main__select-wrap.signup-main__select-wrap--month
      -#       %span 月
      -#     .signup-main__select-wrap.signup-main__select-wrap--day
      -#       %span 日
      -#   .clearfix
      -# %p.signup-main__form-info-text
      -#   ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .signup-main__content
        .signup-main__form-group
          %button.signup-main__btn-default.signup-main__btn-red{:type => "submit"}
            次に進む
= render 'footer'