.tell-wrapper
  .tell_img
    = image_tag "fmarket_logo_red.svg" 
  %nav.tell_progress_bar
    %li.tell_progress_bar_step
      会員情報
      .tell_progress_bar_step_item
    %li.tell_progress_bar_step_phone_number
      電話番号認証
      .tell_progress_bar_step_item_phone_number
    %li.tell_progress_bar_step_address
      お届け先住所入力
      .tell_progress_bar_step_item_address
    %li.tell_progress_bar_step_payment
      支払い方法
      .tell_progress_bar_step_item_payment
    %li.tell_progress_bar_step_complete
      完了
      .tell_progress_bar_step_item_complete

.tell_main
  .tell_main_head
    電話番号の確認
  .tell_main_content
    .tell_main_contant_name 携帯電話の番号
    %input.tell_main_content_num{:placeholder => "携帯電話の番号を入力", :type => "text"}
    .tell_main_content_des
      本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
    .tell_main_content_btn
      =link_to "#", class: "tell_main_content_btn" do
        SMSを送信する
    .tell_main_content_btn_des
      ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
    .tell_main_content_reason
      =link_to "#", class: "tell_main_content_reason" do
        電話番号の確認が必要な理由＞


.tell_bottom
  =link_to "#", class: "tell_bottom_privacy" do
    プライバシーポリシー
  =link_to "#", class: "tell_bottom_terms" do
    メルカリ利用規約
  =link_to "#", class: "tell_bottom_notation" do
    特定商取引に関する表記
  .tell_bottom_logo
    = image_tag "logo_gray.svg", width: "110px" 