.verification_logo
  = image_tag "fmarket_logo_red.svg", class: "image", width: "200px"

  .verification
    .verification_name
    .verification_item
      .verification_item_photo
    .verification_price
    .verification_pay
    .verification_delivery
    .verification_btn






  .verification_bottom
    =link_to "#", class: "verification_bottom_privacy" do
      プライバシーポリシー
    =link_to "#", class: "verification_bottom_terms" do
      メルカリ利用規約
    =link_to "#", class: "verification_bottom_notation" do
      特定商取引に関する表記
  .verification_bottom_logo
    = image_tag "logo_gray.svg", width: "110px" 