.registration-wrapper{
  width: 650px;
  margin:  30px auto;
  display: flex;
  .registration_img {
    width: 30%;
    height: 50px;
    display: inline-block;
  }
  .registration_progress_bar{
    padding: 16px 0;
    width: 70%;
    margin-left: 70px;
    &_step{
      color: red;
      @include newline;
      &_item {
        background:  gray;
        @include content;
        &::after {
          @include after;
          background: gray;
        }
      }
      &_phone_number{
        color: gray;
        @include newline;
      }
      &_item_phone_number{
        background: gray;
        @include content;
        &::before{
          @include before;
          background: gray;
        }
        &::after{
          @include after;
          background: #ccc;
        }
      }
      &_address{
        color: #888;
        @include newline;
      }
      &_item_address{
        background: gray;
        @include content;
        &::before {
          @include before;
          background: gray;
        }
        &::after {
          @include after;
          background: #ccc;
        }
      }
      &_payment{
        color: #888;
        @include newline;
      }
      &_item_payment{
        background: #ccc;
        @include content;
        &::before {
          @include before;
          background: #ccc;
        }
        &::after {
          @include after;
          background: #ccc;
        }
      }
      &_complete{
        color: #888;
        @include newline;
      }
      &_item_complete{
        background: #ccc;
        @include content;
        &::before {
          @include before;
          background: #ccc;
        }
      }
    }
  }
}
