.details_body{
  background-color: lightgray;
}
.details{
  width: 700px;
  margin: auto;
  maegin-top: 80px;
  background-color: white;
  &_name{

  }
  &_content{
    &_photo{

    }
    &_info{

      &_user{

      }
      &_category{

      }
      &_brand{

      }
      &_status{

      }
      &_burden{

      }
      &_method{

      }
      &_area{

      }
      &_indication{

      }
    }
  }
  &_price{

    &_tax{

    }
  }
  &_btn{

  }
  &_profile{

  }
  &_comment{

  }
}