.mercari-icon-wrapper{
    // background-color: $global-background;
}

.mercari-header{
    // background-color: $global-background;
    height: 100%;
    width: 100%;
}

.mercari-header-logo{
    height: 128px;
    text-align: center;
    background: white;

    &__logo {
        margin: 40px 0 0;
        display: inline-block;
        width: 185px;
        height: 49px;
        line-height: 49px;
        &:hover {
            opacity: 0.7;
        }
    }
}
