.logout_content {
  width: 700px;
  background: #fff;
  float: right;
  padding: 90px;
  &_btn {
    background: #ea352d;
    color: #fff;
    width: 400px;
    line-height: 55px;
    font-size: 14px;
    border: 1px solid transparent;
    text-align: center;
    margin: 0px auto;
    text-decoration: none;
  }
}
