    .logout-content {
      float: right;
      width: 700px;
      &__container {
        background: #fff;
      }
        &__inner {
          padding: 100px;
          border-top: 1px solid #f5f5f5;
        }
          &__inner-btn {
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            background: #ea352d;
            color: #fff;
            display: block;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
      }
