// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-container {
  padding: 0 0 220px;
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(104, 24, 24);
  line-height: 1;
  background: rgb(245, 245, 245);
}
  .signup-header {
    height: 128px;
    text-align: center;
    padding-top: 40px;
  }
    
  .signup-main {
    display: block;
    &__login-panel {
      max-width: none;
      width: 456px;
      margin: 0 auto;
      background: #fff;  
    }
      &__login-no-account {
        padding: 40px 64px;
        text-align: center;
      }
        p {
          font-size: 14px;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
        a { 
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
        }
      &__login-form {
        border-top: 1px solid #eee;
        padding: 32px 64px;
        &:first-child {
          padding: 24px 64px 32px;
        }
        }
        &__btn-default {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          &:hover {
            text-decoration: none;
          }
        }
        &__btn-sns {
          position: relative;
          i {
            position: absolute;
            top: 50%;
            left: 16px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
          &--facebook {
            margin: 16px 0 0;
            background: #385185;
            color: #fff;
            .fa-facebook-square {
              color: #fff;
              background: #385185;
              font-size: 26px;
            }
            &:first-child {
              margin: 0;
            }
          }
          &--google {
            margin: 16px 0 0;
            background: #fff image-url('google.svg') no-repeat 3px top;
            border: #979797 solid 1px;
            color: #333;
          }
        }
        .signup-main__login-form-inner {
          padding: 24px 64px 32px;
        }
          &__form-group {
            height: 30px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            margin: 24px 0 0;
          }
            &__login-input-text.signup-main__input-default {
              border:none;
              background:none;
              -webkit-appearance: none;
            }
        .signup-main__login-submit.signup-main__btn-default.signup-main__btn-red {
          margin: 24px 0 0; 
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        } 
        .signup-main__form-group-password {
          display: block;
          margin: 40px 0 0;
          background: #fff;
          color: #0099e8;
          text-decoration: none;
          touch-action: manipulation;
        } 
        .footer {
          width: 456px;
          height: 130px;
          margin: 0 auto;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          padding: 40px 0;
          text-align: center;
        }
          .nav {
            display: block;
          }
            .ul {
              display: flex;
              margin-block-start: 1em;
              margin-block-end: 1em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              padding-inline-start: 40px;
            }
              .li {
                // text-align: -webkit-match-parent;
                display: inline-block;
                color: #333;
                text-decoration: none;
                font-size: 12px;
                margin-right: 15px;
              }
          .image {
            width: 80px;
            height: 65px;
            margin: 40px auto 0;
          }
      }

