.paymethod-contents-register
  .paymethod-header
    登録クレジットカード情報
    %br
  .paymethod-del
    .del_form-card
      .del_form-card_number
        %label カード番号
        %br
        = "**** **** **** " + @default_card_information.last4
        %br
        %label 有効期限
        %br
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
      .del_form-card_btn
        = form_tag(card_path, method: :delete, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" ,class:"btn-default-red"}
          %button 削除する